html,
body {
  margin: 0;
  background-color: #f6f7fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  margin: 1.5rem 0;
}

form fieldset {
  padding: 0;
  border: none;
}

form fieldset legend {
  margin-bottom: 1rem;
}

form fieldset legend span {
  margin-right: 10px;
}

form fieldset input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #dedee3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form fieldset button {
  float: right;
}

.button {
  font-size: 15px;
  font-family: inherit;
  outline: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  color: #ffffff;
  height: 36px;
  padding: 0 16px;
  border: none;
  min-width: 120px;
}

.button span {
  margin-right: 10px;
}

.button.full {
  width: 100%;
}

.button:disabled {
  cursor: auto !important;
  color: #c2c2c2 !important;
  background: #f5f5f5 !important;
}

.button.primary {
  background: #1abc9c;
}

.button.primary:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background: #16a186;
}

.button.edit {
  background: #1a8bbc;
}

.button.edit:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background: #1677a1;
}

.button.danger {
  background: #bc1a3a;
}

.button.danger:hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background: #a11632;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar {
  height: 60px;
  background-color: #1abc9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar .nav-logo {
  color: white;
  text-decoration: none;
  line-height: 60px;
}

.navbar .nav-links {
  float: right;
  margin: 0;
  padding: 0 15px 0 0;
}

.navbar .nav-links li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

.navbar .nav-links li a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  height: 60px;
  line-height: 60px;
}

.paginator {
  padding: 0;
  margin: 2rem 0 4rem 0;
  text-align: center;
}

.paginator .paginator-item {
  display: inline-block;
  margin: 0;
  border-radius: 5px;
  color: #ffffff;
  background-color: #d3d3da;
  padding: 0.5rem;
  width: 20px;
  cursor: pointer;
}

.paginator .paginator-item:hover {
  background-color: #c8c8d1;
}

.paginator .paginator-item.active {
  background-color: #1abc9c;
  cursor: default;
}

.paginator .paginator-item a {
  text-decoration: none;
  color: #ffffff;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-found .code {
  font-size: 5rem;
}

.not-found p {
  margin: 0;
}

.about-grid {
  display: grid;
  grid-template: 1fr / 1fr;
}

.about-grid .top {
  padding: 1rem 0 1.5rem 0;
  grid-column: 1 / -1;
  background-color: #ffffff;
  border-bottom: 1px solid #dedee3;
}

.about-grid .top .about-name p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  color: #a7a7a7;
  margin-bottom: 0;
}

.about-grid .top .about-name h2 {
  margin: 0.5rem 0;
}

.about-grid .top .about-price {
  margin: 0 0 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.about-grid .top .crud a {
  text-decoration: none;
}

.index-grid {
  display: grid;
  grid-template: 1fr/ 1fr;
  margin-bottom: 1rem;
}

.index-grid .index-item {
  border-bottom: 1px solid #dedee3;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
}

.index-grid .index-item aside {
  position: relative;
}

.index-grid .index-item aside .index-icon {
  position: absolute;
  color: #838383;
  margin-right: 10px;
}

.index-grid .index-item aside p {
  color: #333333;
  margin: 0 0 0 30px;
}

.index-grid .index-item aside .overview {
  color: #838383;
  font-size: 0.8rem;
}

.index-grid .index-item:hover {
  background: #eaecf8;
}

.index-grid .index-item:last-of-type {
  border: none;
}

.sales-grid {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-bottom: 1rem;
}

.sales-grid .sales-item {
  display: grid;
  grid-template: 1fr / 1fr 150px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #dedee3;
}

.sales-grid .sales-item .units,
.sales-grid .sales-item .date {
  color: #333333;
  font-weight: 600;
  font-size: 1rem;
}

.sales-grid .sales-item .date {
  margin-bottom: 0;
}

.sales-grid .sales-item .price {
  color: #01b87a;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.sales-grid .sales-item .price:before {
  content: '$';
}

.sales-grid .sales-item .product {
  max-width: 60%;
  text-transform: uppercase;
  color: #838383;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 796px) {
  .sales-grid .sales-item .product {
    max-width: 80%;
  }
}

.sales-grid .sales-item:hover {
  background: #eaecf8;
}

.sales-grid .sales-item:last-of-type {
  border: none;
}

.products-grid {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-bottom: 1rem;
}

.products-grid .products-item {
  display: grid;
  grid-template: 1fr / 1fr 150px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #dedee3;
}

.products-grid .products-item .price {
  color: #01b87a;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.products-grid .products-item .price:before {
  content: '$';
}

.products-grid .products-item .product {
  max-width: 60%;
  text-transform: uppercase;
  color: #838383;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 796px) {
  .products-grid .products-item .product {
    max-width: 80%;
  }
}

.products-grid .products-item:hover {
  background: #eaecf8;
}

.products-grid .products-item:last-of-type {
  border: none;
}

