html,
body {
  margin: 0;
  background-color: #f6f7fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar {
  height: 60px;
  background-color: #0267ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar .nav-logo {
  color: white;
  text-decoration: none;
  line-height: 60px;
}

.navbar .nav-links {
  float: right;
  margin: 0;
  padding: 0 15px 0 0;
}

.navbar .nav-links li {
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

.navbar .nav-links li a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  line-height: 60px;
}

.paginator {
  padding: 0;
  text-align: center;
}

.paginator .paginator-item {
  display: inline-block;
  margin: 0;
  border-radius: 5px;
  color: #ffffff;
  background-color: #d3d3da;
  padding: 0.5rem;
  width: 20px;
  cursor: pointer;
}

.paginator .paginator-item:hover {
  background-color: #c8c8d1;
}

.paginator .paginator-item.active {
  background-color: #0267ff;
  cursor: default;
}

.paginator .paginator-item a {
  text-decoration: none;
  color: #ffffff;
}

.details-grid {
  display: grid;
  grid-template: 1fr / 1fr;
}

.details-grid .top {
  grid-column: 1 / -1;
  background-color: #ffffff;
  border-bottom: 1px solid #dedee3;
}

.details-grid .top .details-name {
  margin: 2rem 0;
}

.details-grid .top .details-name p {
  margin: 0;
  color: #a7a7a7;
}

.details-grid .top .details-name h2 {
  margin: 0;
}

.details-grid .top .tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}

.details-grid .top .tabs .tab-item {
  text-transform: uppercase;
  color: #a7a7a7;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .details-grid .top .tabs .tab-item {
    text-align: center;
  }
}

.details-grid .top .tabs .tab-item span {
  margin-left: 5px;
}

@media (max-width: 576px) {
  .details-grid .top .tabs .tab-item span {
    display: none;
  }
}

.details-grid .top .tabs .tab-item:hover {
  color: #676767;
}

.details-grid .top .tabs .tab-item.tab-item-selected {
  color: #414141;
  border-bottom: 2px solid #6ccfff;
}

.details-grid .outlet {
  grid-column: 1 / -1;
}

.details-grid .outlet > * {
  display: none;
}

.index-grid {
  display: grid;
  grid-template: 1fr/ 1fr;
  margin-bottom: 1rem;
}

.index-grid .index-item {
  border-bottom: 1px solid #dedee3;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
}

.index-grid .index-item aside {
  position: relative;
}

.index-grid .index-item aside .index-icon {
  position: absolute;
  color: #838383;
  margin-right: 10px;
}

.index-grid .index-item aside p {
  color: #333333;
  margin: 0 0 0 30px;
}

.index-grid .index-item aside .overview {
  color: #838383;
  font-size: 0.8rem;
}

.index-grid .index-item:hover {
  background: #eaecf8;
}

.index-grid .index-item:last-of-type {
  border: none;
}

.sales-grid {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-bottom: 1rem;
}

.sales-grid .sales-item {
  display: grid;
  grid-template: 1fr / 1fr 150px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #dedee3;
}

.sales-grid .sales-item .units,
.sales-grid .sales-item .date {
  color: #333333;
  font-weight: 600;
  font-size: 1rem;
}

.sales-grid .sales-item .date {
  margin-bottom: 0;
}

.sales-grid .sales-item .price {
  color: #01b87a;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.sales-grid .sales-item .price:before {
  content: '$';
}

.sales-grid .sales-item .product {
  max-width: 60%;
  text-transform: uppercase;
  color: #838383;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 796px) {
  .sales-grid .sales-item .product {
    max-width: 80%;
  }
}

.sales-grid .sales-item:hover {
  background: #eaecf8;
}

.sales-grid .sales-item:last-of-type {
  border: none;
}

.products-grid {
  display: grid;
  grid-template: 1fr / 1fr;
  margin-bottom: 1rem;
}

.products-grid .products-item {
  display: grid;
  grid-template: 1fr / 1fr 150px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #dedee3;
}

.products-grid .products-item .price {
  color: #01b87a;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.products-grid .products-item .price:before {
  content: '$';
}

.products-grid .products-item .product {
  max-width: 60%;
  text-transform: uppercase;
  color: #838383;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 796px) {
  .products-grid .products-item .product {
    max-width: 80%;
  }
}

.products-grid .products-item:hover {
  background: #eaecf8;
}

.products-grid .products-item:last-of-type {
  border: none;
}

