.paginator {
  padding: 0;
  margin: 2rem 0 4rem 0;
  text-align: center;
  .paginator-item {
    display: inline-block;
    margin: 0;
    border-radius: 5px;
    color: #ffffff;
    background-color: #d3d3da;
    padding: 0.5rem;
    width: 20px;
    cursor: pointer;

    &:hover {
      background-color: #c8c8d1;
    }
    &.active {
      background-color: $primary-color;
      cursor: default;
    }
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}