$primary-color: #1abc9c;
$primary-dark-color: darken($primary-color, 6%);

$edit-color: #1a8bbc;
$edit-dark-color: darken($edit-color, 6%);

$danger-color: #bc1a3a;
$danger-dark-color: darken($danger-color, 6%);

$text-shadow: 0px 1px 3px rgba(13, 18, 43, 0.5);

$body-color: #dedee3;
$body-hover-color: #eaecf8;

$primary-text: #333333;
$secondary-text: #838383;
$light-text: #a7a7a7;
$light-hover-text: darken($light-text, 25%);

$navbar-height: 60px;
